<div class="mx-auto max-w-2xl px-4 py-5 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <!-- <p></p> -->
  <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-5">
    Muynak - Desert in the Aral Sea
  </h2>

  <div class="-m-1 flex flex-wrap md:-m-2">
    <div class="flex w-1/2 flex-wrap">
      <div class="w-1/2 p-1 md:p-2">
        <a
          target="_blank"
          href="https://uzbekistan.travel/en/i/muynak/?ysclid=lvhy4bg7dj186333575/"
        >
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://uzbekistan.travel/storage/app/media/nargiza/cropped-images/cropped-images/more-1-2011-0-0-0-0-1582709239.jpg"
          />
        </a>
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <a
          target="_blank"
          href="https://uzbekistan.travel/en/o/the-ustyurt-plateau/"
        >
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://uzbekistan.travel/storage/app/media/uploaded-files/plato.jpg"
          />
        </a>
      </div>
      <div class="w-full p-1 md:p-2">
        <a
          href="https://uzbekistan.travel/en/o/the-ustyurt-plateau/"
          target="_blank"
        >
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://uzbekistan.travel/storage/app/media/uploaded-files/plato0.jpg"
          />
        </a>
      </div>
    </div>
    <div class="flex w-1/2 flex-wrap">
      <div class="w-full p-1 md:p-2">
        <a
          href="https://uzbekistan.travel/en/o/muynak-yurt-camp/"
          target="_blank"
        >
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://uzbekistan.travel/storage/app/media/uploaded-files/aral1.jpg"
          />
        </a>
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <a
          href="https://uzbekistan.travel/en/o/the-ustyurt-plateau/"
          target="_blank"
        >
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://uzbekistan.travel/storage/app/media/uploaded-files/plato6.jpg"
          />
        </a>
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <a
          href="https://uzbekistan.travel/en/i/muynak/?ysclid=lvhy4bg7dj186333575/"
          target="_blank"
        >
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://uzbekistan.travel/storage/app/media/nargiza/cropped-images/aral-0-0-0-0-1587372231.jpg"
          />
        </a>
      </div>
    </div>
  </div>
</div>
