<div class="bg-white">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol
        role="list"
        class="mx-auto flex flex-wrap max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8"
      >
        <li>
          <div class="flex items-center">
            <a routerLink="/" class="mr-2 text-sm font-medium text-gray-900"
              >Главная страница</a
            >
            <svg
              width="16"
              height="20"
              viewBox="0 0 16 20"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-4 text-gray-300"
            >
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900"
              >Декоры</a
            >
            <svg
              width="16"
              height="20"
              viewBox="0 0 16 20"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-4 text-gray-300"
            >
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a
            href="#"
            aria-current="page"
            class="font-medium text-gray-500 hover:text-gray-600"
            >Product {{ number_decor }}</a
          >
        </li>
      </ol>
    </nav>

    <!-- Image gallery -->
    <div
      class="mx-auto mt-6 max-w-5xl container sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8"
    >
      <div
        class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg lg:block"
      >
        <!-- <img
          [src]="currentProduct[0].image"
          alt="Two each of gray, white, and black shirts laying flat."
        /> -->
        <ng-magnizoom
          [imageStyle]="{ 'height': '100%', 'max-width': '100%', 'max-height': '100%', 'cursor': 'pointer' }"
          [imageClass]="{ 'custom-class': true }"
          lensSizeUnit="PIXEL"
          zoomCenterUnit="PIXEL"
          [maxZoomFactor]="5"
          [lensSize]="{ width: 350, height: 200 }"
          zoomMode="LENS"
          [imageSrc]="currentProduct[0].image">
        </ng-magnizoom>
      </div>
      <div class="lg:grid lg:grid-cols-1 lg:gap-y-8 grid gap-y-8">
        <div class="aspect-h-2 mt-2 aspect-w-3 overflow-hidden hidden lg:block rounded-lg">
          <img
            id="image1"
            src="https://www.schattdecor.com/media/_processed_/3/9/csm_106_2ca433f8ee.jpg"
            alt="Model wearing plain black basic tee."
            class="h-full w-full object-cover object-center"
          />
       
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden hidden lg:block rounded-lg">
          <img
            src="https://www.schattdecor.com/media/_processed_/3/0/csm_Produktinnovationen_Symbiose2_9699ae315d.jpg"
            alt="Model wearing plain gray basic tee."
            class="h-full w-full object-cover object-center"
          />
         
        </div>
      </div>
      <div
        class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 hidden lg:block sm:overflow-hidden sm:rounded-lg"
      >
        <ng-magnizoom
          [imageStyle]="{ 'height': '100%', 'max-width': '100%', 'max-height': '100%', 'cursor': 'pointer' }"
          [imageClass]="{ 'custom-class': true }"
          lensSizeUnit="PIXEL"
          zoomCenterUnit="PIXEL"
          [lensSize]="{ width: 350, height: 200 }"
          zoomMode="LENS"
          [imageSrc]="imageUrl">
        </ng-magnizoom>
      </div>
    </div>

    <!-- Product info -->
    <div
      class="mx-auto container max-w-7xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16"
    >
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          {{ currentProduct[0].type }}
        </h1>
      </div>

      <!-- Options -->
      <div class="mt-4 lg:row-span-3 lg:mt-0">
        <h2 class="sr-only">Product information</h2>
        <p class="text-2xl tracking-tight text-gray-900">
          Номер декора: <span style="font-family: monospace;">{{ currentProduct[0].number_decor }}</span> 
        </p>

        <!-- Reviews -->
        <div class="mt-6">
          <h3 class="sr-only">Reviews</h3>
          <div class="flex items-center">
            <div class="flex items-center">
              <!-- Active: "text-gray-900", Default: "text-gray-200" -->
              <svg
                class="text-gray-900 h-5 w-5 flex-shrink-0"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="text-gray-900 h-5 w-5 flex-shrink-0"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="text-gray-900 h-5 w-5 flex-shrink-0"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="text-gray-900 h-5 w-5 flex-shrink-0"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="text-gray-200 h-5 w-5 flex-shrink-0"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <p class="sr-only">4 out of 5 stars</p>
            <a
              href="#"
              class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500"
              >117 reviews</a
            >
          </div>
        </div>

        <form class="mt-10">
          <!-- Colors -->
        

          <!-- Sizes -->
          <div class="mt-10">
            <div class="flex items-center justify-between">
              <h3 class="text-sm font-medium text-gray-900">
                Коллекционные цвета:
              </h3>
              <a
                href="#"
                class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
                >{{ currentProduct[0].other_images.length }}</a
              >
            </div>

            <fieldset class="mt-4">
              <legend class="sr-only">Choose a size</legend>
              <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
                <label
                  *ngFor="
                    let item of currentProduct[0].other_images;
                    let ind = index
                  "
                  (click)="setImage(item)"
                  class="group overflow-hidden relative flex items-center justify-center rounded-md border text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
                >
                  <img [src]="item" alt="" />
                </label>
              </div>
            </fieldset>
          </div>
          <div class="mt-10">
            <h3 class="text-sm font-medium text-gray-900">QR Code</h3>
            <div class="qr-code items-center">
              <qr-code [value]="qrCode_Url" size="200" errorCorrectionLevel="M"></qr-code>
            </div>
            <div class="shareButton p-2">
              <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-start md:justify-start md:w-auto">
                <a [href]=telegramShare target="_blank" class="text-gray-900">
                  <img width="25" src="../../../assets/images/icons/telegram-svgrepo-com.svg"  alt="Telegram share images">
                </a>
                <a [href]=tweeterShare target="_blank" class="ml-3 text-gray-900">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-[25px] h-[25px]" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a [href]=whatsUpShare target="_blank" class="ml-3 text-gray-900">
                  <img width="25" src="../../../assets/images/icons/whatsapp-svgrepo-com.svg" alt="WhatsApp share images">
                </a>
                <a [href]=linkedInShare target="_blank" class="ml-3 text-gray-900">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-[25px] h-[25px]" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>
              </span>
            </div>
          </div>
          <button
            routerLink="/products"
            type="submit"
            class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-gray-900 px-8 py-3 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Показать больше
          </button>
          <!-- Контакт  -->
          <p></p>
        </form>
      </div>

      <div
        class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6"
      >
        <!-- Description and details -->
        <div>
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900">
              {{ currentProduct[0].description }}
            </p>
          </div>
        </div>

        <div class="mt-10">
          <h3 class="text-sm font-medium text-gray-900">Highlights</h3>

          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4 text-md">
              <li class="text-gray-400">
                <span class="text-gray-700"
                  >Тип декора: {{ currentProduct[0].decor_type }}</span
                >
              </li>
              <li class="text-gray-400">
                <span class="text-gray-700"
                  >Где использовать: {{ currentProduct[0].where_to_use }}</span
                >
              </li>

              <h3 class="text-md font-medium text-gray-900">Размер</h3>
              <li class="text-gray-400">
                <span class="text-gray-700">Ширина: 1830 мм</span>
              </li>
              <li class="text-gray-400">
                <span class="text-gray-700">Длина: 2750 мм</span>
              </li>
              <li class="text-gray-400">
                <span class="text-gray-700">Толщина: 16 мм</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="mt-10">
          <h2 class="text-sm font-medium text-gray-900">Details</h2>

          <div class="mt-4 space-y-6">
            <p class="text-sm text-gray-600">
              Инженерная тростниковая древесина является инновационной и устойчивой альтернативой традиционным изделиям из древесины. Благодаря использованию тростника, быстрорастущего и возобновляемого ресурса, этот тип инженерной древесины обеспечивает прочность, долговечность и экологические преимущества. Его можно использовать в различных областях, таких как строительство, изготовление мебели и дизайн интерьера, обеспечивая универсальное и экологически чистое решение для современных нужд.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
