<app-designed-info></app-designed-info>
<app-trusted-by></app-trusted-by>
<app-cards></app-cards>
<app-deploy-your-app></app-deploy-your-app>
<app-feature-section2></app-feature-section2>
<app-feature-section></app-feature-section>
<app-pricelist></app-pricelist>
<app-header-sections></app-header-sections>
<app-subscribe-our-letter></app-subscribe-our-letter>
<app-stats></app-stats>
<app-testimonials></app-testimonials>
<app-content-section></app-content-section>
<app-contact-section></app-contact-section>
<app-porducts-overview></app-porducts-overview>
<app-product-lists></app-product-lists>
<!-- <app-quick-prev></app-quick-prev> -->
<app-promo-section></app-promo-section>
<app-pro-features></app-pro-features>
