<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">
        Что мы предлагаем
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Услуги, которые мы предлагаем
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Ознакомьтесь с нашими комплексными услугами, разработанными для удовлетворения ваших потребностей. От консультации до реализации мы предлагаем индивидуальные решения для вашего успеха.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-6xl sm:mt-20 lg:mt-24 lg:max-w-6xl">
      <div

        class="grid max-w-6xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-6xl lg:grid-cols-2 lg:gap-y-16"
      >
        <div *ngFor="let each of cardDetails; let ind = index" class="relative pl-24">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-30 w-20 items-center justify-center rounded-lg"
            >
             <img [src]="'../../../assets/images/logos/'+each.slugs" alt="Muynak LDSP offering services">            
            </div>
            {{each.title}}
          </dt>
          <dd class="mt-2 text-base leading-7 text-2xl text-gray-600">
            {{each.description}}
          </dd>
        </div>        
      </div>
    </div>
  </div>
</div>
